
<ul style="padding-left: 0px" class="clubs">
    <li class="mdl-layout--large-screen-only tile-list">
        <div style="">
            <a ng-click="goPrev(leftTile,'lastClubs')"><i class="arrow material-icons">
                keyboard_arrow_left
            </i></a>
        </div>
    </li>
    <li class="mdl-layout--small-screen-only tile-list">
        <div style="height: 5px;" >
            <a  ng-click="goPrev(leftTile,'lastClubs')">
                <i  class="arrow material-icons">
                    keyboard_arrow_up
                </i>
            </a>
        </div>
    </li>
    <li style="width: 30%; margin: 0px 5px;" class="tile-list tile-li" ng-repeat="tile in tiles | limitTo : tilesInDiv : leftTile.id">
        <div class="tile mdl-card mdl-shadow--2dp">
            <div class=" mdl-card__title mdl-card--expand">
                <video id="{{tile.id}}" ng-mouseover="playVideo(tile.id)" ng-mouseleave="stopVideo(tile.id)" alt="Card image cap" class="card-img-top">
                    <source src="vids/{{tile.video}}.mp4" type="video/mp4">
                </video>
            </div>
            <div class="mdl-card__supporting-text">
                <img class="club-icon" src="images/{{tile.icon}}.png">
                <p>{{tile.name}}<br>
                <span>
                    <img src="images/members.png">
                    {{tile.members}}
                </span>
                </p>
                <p class="club-num">#{{tile.number}}</p>
            </div>
        </div>
    </li>
    <li class="mdl-layout--large-screen-only tile-list">
        <div style="">
        <a ng-click="goNext(leftTile,'lastClubs')"><i class="arrow material-icons">
            keyboard_arrow_right
        </i></a>
        </div>
    </li>
    <li class="mdl-layout--small-screen-only tile-list">
        <div style="height: 5px;" >
            <a  ng-click="goPrev(leftTile,'lastClubs')">
                <i style="margin-top: 10px;" class="arrow material-icons">
                    keyboard_arrow_down
                </i>
            </a>
        </div>
    </li>
</ul>