.header {
    padding: 0px !important;
}

.mdl-layout__drawer-button {
    left: 90vw !important;
    margin: 0px !important;
}

.hero-wrap {
    width: 100vw;
}

.hero-wrap .mdl-cell, .hero-video {
    width: 100%;
}

.alienWare-section {
    background-image: none;
    background-color: black;
    margin-top: 1rem;
}

.alienWare-section img {
    width: 70vw;
    place-content: center;
    text-align: center;
    margin: 0px calc(30vw / 2);
}

.blue-btn {
    background-color: #68aaeb;
    border-color: #68aaeb;
    color: white !important;
    text-align: center;
}

.live-btn {
    width: 25vw;
    margin: 0 calc(75vw /2);

}

.alienWare-section li span {
    position: relative;
    left: -10px;
}