@font-face {
    font-family: Montserrat;
    src: url('fonts/montserrat-v12-latin-regular.ttf');
}
@font-face {
    font-family: Montserrat-800;
    src: url("fonts/montserrat-v12-latin-800.ttf");
}
@font-face {
    font-family: Montserrat-700;
    src: url("fonts/montserrat-v12-latin-700.ttf");
}
@font-face {
    font-family: Montserrat-600;
    src: url("fonts/montserrat-v12-latin-600.ttf");
}
@font-face{
    font-family: Montserrat-500;
    src: url("fonts/montserrat-v12-latin-500.ttf");
}

body, head {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Montserrat,sans-serif;
    touch-action: auto;
    background-color: #cecece !important;
}

.logo-img {
    height: calc(58rem/14);
    width: calc(54rem/14);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.4);
}

.header {
    height: calc(50rem/14) !important;
    min-height: calc(50rem/14)!important;
    background-color: black  !important; ;
    padding: 0px 8% !important;
}

.back-button-container {
    display: inline;
    padding: 0px 2%;
    border-right: 1px solid darkgray;
}

.back-button-container span {
    line-height: 1;
    font-size: 12px;
    color: darkgray;
}

.clear, .clear:active, .clear:hover, .clear:focus  {
    background: none;
    border: none;
    outline: none !important;
}

.text-field{
    background: #252b39;
    border: 1px solid #333a4a;
    border-radius: 4px;
    color: #919ab0;
    font-family: Montserrat-500;
    font-weight: bold;
}

.text-field input {
    font-size: 14px;
    color: darkgray;
}
.red-btn {
    background-color: red;
    border-color: red;
}

.black-btn {
    background-color: black;
}
.dark-btn {
    background-color: #252b39;
    border-color: #252b39;
}
header .red-btn:hover {
    background-color: white;
    color: red;
    border-color: red;
}

header .dark-btn:hover {
    background-color: white;
    color: #252b39;
    border-color: #252b39;
}

header button {
    padding: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.main-btn {
    color: #fff;
    font-weight: 800;
    font-size: 10px;
    border-radius: 4px;
    border: solid thin transparent;
    border-bottom-width: 3px;
    transition-duration: .2s;
}

.hero-wrap, .alienWare-wrap {
    width: 70vw;
    padding-left: 20px;
}

.hero-wrap .mdl-cell {
    width: calc(50% - 8*4px);
}

.hero-wrap > .left {
    margin-left: 21px;
    width: calc(50% - (8 * 4 + 21px));
}

.large-btn {
    width: calc(181rem/14);
    height: calc(52rem/14);
    font-size: 13px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;

}

.main-title {
    font-family: Montserrat-800,sans-serif;
    font-size: 33px;
    color: #2f2f2f;
    text-align: left;
    line-height: 1.2;
}

.main-sub {
    font-size: 20px;
    color: #2f2f2f;
    font-family: Montserrat-500,sans-serif;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 20px;
    line-height: 140%;
    letter-spacing: -.5px;
    text-align: left;
}

.main-btn img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    margin-bottom: 0.6rem;

}

.main-btn > p {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    margin-left: 0.2rem;
    margin-top: .3rem;
    line-height: 1.5;
}

.main-btn > p > span {
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
}

.hero-video {
    width: 500px;
    height: 296px;
}

.alienWare-section {
    background-image: url("images/alienwareSection-background.jpg");
    background-size: cover;
    background-position: center center;
    padding: 25px 0 50px;
    position: relative;
    z-index: 5;
    margin-top: 3rem;
}

.alienware-content__tip {
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #03b5eb;
}

.alienware-content__title {
    font-weight: 800;
    font-size: 32px;
    line-height: normal;
    color: #fff;
    margin-bottom: 28px;
}

.alienware-content__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: #d2d2d2;
    margin-top: 0;
    margin-bottom: 28px;
}

a {
    color: unset;
    text-decoration: none;
    cursor: pointer;
}

.alienware-content__rules-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #a8a8a8;
}

.alienware-content__additional-text {
    font-size: 14px;
    line-height: 26px;
    color: #a8a8a8;
    position: absolute;
    left: 80%;
    top: 95%;
    transform: translate(-80%,-95%);
}

.alienWare-wrap .left {
    width: calc(60% - 8*4px);
    margin:0px;
    margin-right: 5px;
}

.alienWare-wrap .right {
    width: calc(40% - 2*8);
    margin: 0px;
}

.alienwareImage {
    margin-right: 0rem;
    margin-left: 5px;
}

.joinShowdown {
    margin: 20px 0px 48px 0px;
    background-color: #03b5eb;
    border-color: #03b5eb;
    text-transform: uppercase;
    width: 238px;
    height: 52px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    border: none;
}

.joinShowdown:hover {
    background-color: #68aaeb;
    border-color: #68aaeb;
}

.games-block {
    width: 50vw;
    align-content: center;
    text-align: center;
}

.games-block__title {
    font-family: Montserrat-700;
    font-weight: 700;
    font-size: 28px;
    color: #2f2f2f;
    margin-bottom: 48px;
    margin-top: 42px;
    text-align: center;
}

.support-box__title {
    font-family: Montserrat-600;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #a0a0a0;
    margin-bottom: 41px;
}

.support-box__item {
    background: #eee;
    border: 1px solid #cecece;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px 8px 35px 0px;
    height: 83px;
    width: 40%;
    max-width: 356px;
    display: inline-flex;
}

.support-box__image {
    margin-top: -22px;
}

.support-box__game-icon {
    margin-right: 12px;
}

.support-box__text-block {
    display: inline-flex;
    text-align: left;
}

.support-box__text-block img {
    width: 33px;
    height: 33px;
    margin: auto 0px;
    margin-right: 12px;
}

.support-box__text-block p {
    font-family: Montserrat-600;
    font-size: 16px;
    line-height: normal;
    color: #424242;
    display: inline-flex;
    vertical-align: center;
    margin: auto 0px;
    width: 137px;
}

.user-envelope {
    height: 50px;
    background-color: #333a4a !important;
    color: white;
}
.user-envelope img {
    width: 45px;
    height: 45px;
}
.user-envelope .btn {
    border-radius: 0px !important;
    background-color: #252b39 !important;
    border-color: #252b39 !important;
    color: white;
}

.user-envelope div {
    border-radius: 0px !important;
    background-color: #252b39 !important;
    border-color: #252b39 !important;
    color: white;
}

.user-envelope .btn {
    text-align: right;
    padding-right: 30px;
}

.user-envelope .btn i {
    float: right;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: auto !important;
}

.user-envelope p, .clubs-div p {
    color: white;
    font-family: Montserrat-700;
    font-size: 14px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 5px;
    line-height: 1.4;
}

.user-envelope span, .clubs-div span{
    color: gray;
    font-family: Montserrat-500;
    font-size: 14px;
}

.balance-box {
    height: 40px;
    margin: auto 0px;
    display: inline-flex;
    background-color: #333a4a;
    width: 100px;
    text-align: center;
    line-height: 1.4;
}

.balance-box p {
    width: 100%;
    text-align: center;
    font-family: Montserrat-500;
    font-size: 14px;
    color: gray;
    margin-bottom: 0px;
    line-height: 1.2;
    vertical-align: center;
    margin-top: auto;
}

.balance-box span {
    color: white;
}

.btn-secondary {
    background: none !important;
}

.carousel-btn {
    margin: 0px;
    margin-right: calc((100%/2) - 25px);
    position: relative;
    z-index: 10;
}

.dot {
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid red;
    display: inline-block;
}

.carousel-btn-bar {
    height: 1px;
    background-color: gray !important;
    display: block;
    margin: 0px auto;
    margin-bottom: -12px;
}

.choose-club-carousel ul {
    width: 100%;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0px;
    display: block;
    text-align: left;

}

.choose-club-carousel li {
    display: inline;
    margin-right: auto !important;
    margin-left: auto !important;
}

.choose-club-carousel, .clubs-div {
    width: 67vw;
    padding-left: 20px;
    background-color: white;
    margin-top: 20px !important;
    border-radius: 6px !important;
    border: 2px solid lightsteelblue;
    display: inline-flex;
}

.choose-club-carousel .content {
    width: 70%;
    margin: 0px auto ;
    padding-top: 40px;
}

.choose-club-carousel .main-title {
    font-family: Montserrat-700;
    font-size: 20px;
    margin: 0px 10px;
    margin-top: 0px;
    display:inline-block;
}

.choose-club-carousel .main-sub{
    font-size: 15px;
    color: #2f2f2f;
    font-family: Montserrat-500,sans-serif;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 0px;
    line-height: 140%;
    letter-spacing: -.5px;
    text-align: left;
    display:inline-block;
}

.choose-club-carousel img {
    float: right;
    max-height: 132px !important;
}

.choose-club-carousel .next {
    margin-right: 50px;
    pointer-events: none;
    vertical-align: center;
    top: 40%;
    position: relative;
}

.choose-club-carousel .prev{
    margin-left: 50px;
    pointer-events: none;
    vertical-align: center;
    top: 40%;
    position: relative;
}

.red-background-color {
    background-color: red;
}

.no-right-margin {
    margin-right: 0px !important;
}

.clubs-div p {
    color: black;
    font-family: Montserrat-800;
    font-size: 17px;
    display: inline-block;
    line-height: 1.1;
    margin-left: 0px;
}

.clubs-div nav, .clubs-header-nav {
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 24px;
}

.clubs-carousel {
    width: 100%;
    border-bottom: 1px solid gray;
    text-align: center;
}

.tile-list {
    list-style-type: none;
    display: inline-flex;
}


.tile .club-icon {
    float: left;
    vertical-align: center;
    position: relative;
    height: 35px;
    margin-right: 16px;
}

.tile p {
    float: left;
}

.tile .mdl-card__supporting-text {
    width: 100%;
}

.tile .club-num {
    float: right;
    vertical-align: center;
    position: relative;
    top: 30%;
    color: gray;
}

.tile mdl-card {
    margin: 0px 7px;
}

.tile .mdl-card__title {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.clubs-carousel .arrow {
    top: -115% !important;
    position: relative !important;
    text-align: center;
    vertical-align: center;

}

.clubs {
    margin-bottom: 40px;
}

.clubs-div {
    background: none;
    border: none;
}

.active {
    color: blue;
}

.mdl-layout__drawer li a {
    padding: 3.5px 21px;
    font-size: 14px;
    font-weight: normal;
}

.mdl-layout__drawer{
    position: relative;
    z-index: 15 !important;
}

.mdl-layout__drawer-button {
    left: calc(100vw - 48px) !important;
    margin: 0px !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@media screen and (max-width: 600px), (min-width: 600px) and (max-width: 1000px) {
    .header {
        padding: 0px !important;
    }
    .choose-club-carousel, .clubs-div, .tile{
        width: 100vw !important;
    }
    .content{
        padding-top: 5px !important;
    }
    .clubs-div{
        padding: 0px !important;

    }
    .tile-li{
        width: 100% !important;
        margin-bottom: 10px !important;
        margin-left: 0px !important;
    }

}
